header {
	background-color: #333;
	padding: 10px 0;

	nav {
		display: flex;
		justify-content: center;
		ul {
			list-style-type: none;
			display: flex;
			gap: 20px;

			li {
				a {
					color: white;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
